body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: #6c757d;
}
.navbar-brand span {
  color: #007bff;
}
.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #6c757d;
}
.navbar-nav .nav-link:hover {
  color: #007bff;
}
.navbar-nav .active {
  color: #007bff !important;
}
.container-fluid {
  max-width: 1200px;
}
  
  .signup-form {
    background-color: #fff;
    border: 1px solid #0e0d0d;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-header h1 {
    background-color: #bb5ed3;
    color: #fcf7f7;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .otc {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .otc fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  .otc fieldset div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="number"] {
    line-height: 1;
    margin: .1em;
    padding: 8px 0 4px;
    font-size: 2.65em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 2px solid #0c0c0c;
    color: purple;
    border-radius: 4px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* 2 group of 3 items */
  input[type="number"]:nth-child(n+4) {
    order: 2;
  }
  
  .otc div::before {
    content: '';
    height: 2px;
    width: 24px;
    margin: 0 .25em;
    order: 1;
    background: #070707;
  }
  
  /* From: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
  .otc label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: relative !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  
  .btn-primary1 {
    background-color: #fff;
    border-color: #3897f0;
    color: #080808;
    margin-top: 6px;
    border-radius: 50px; /* Use a large value to create an oval shape */
    padding: 5px 35px; /* Increase the padding to increase the width */
    font-size: 18px;
    font-weight: 800px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  .btn-primary1:hover {
    border-color:  #bb5ed3;
    color: #0a0a0a;
    transition: all 0.3s ease-in-out;
  }
  
  fieldset input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: -1;
    padding: 8px;
    font-size: 16px;
  }
  